:root {
    --focus-color: #2196f3;
    --header-color: #212121;
    --adress-color: #ffffff;
    --text-color: #757575;
    --background-color: #2f303a;
    --background-secondary: #f5f4fa;
    --background-portfolio: #e5e5e5;
    --fill-color: #afb1b8;}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color:var(--header-color);}

 * {margin: 0;
    padding: 0;
    box-sizing: border-box;}

img { 
    display: block}

/* header */

header {
    border-bottom: solid 1px #F5F4FA;
    width: 100%;}

.section{
    padding-top: 94px;
    padding-bottom: 94px;}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;}

.container-class {
    display: flex;
    align-items: center;}

.header-class{
    display: flex;
    align-items: center;
    width: 50%;
    gap:93px;}

.header-contents{
    display: flex;
    align-items: center;
    height:80px;}

.blue-text {
    color:var(--focus-color)}

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color:var(--header-color);}

.nav{ 
    display:flex;
    list-style:none;
    gap:32px;
    position: relative;
    color: var(--header-color);}

    /* PODKREŚLENIE W HEADERZE */

.nav-after{
    font-family: "Roboto";
    font-style: normal;
    color: var(--focus-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.nav-under-after{
        position: relative;}

.nav-under-after > a {
    color: var(--focus-color);}

.nav-after::after {
    position: absolute;
    display:block;
    content: "";
    height:4px;
    width: 100%;
    left:0;
    right: 0;
    border-bottom: 4px solid var(--focus-color);
    border-radius: 2px;
    background: var(--focus-color);
    bottom:-31px;
    margin:0;
    cursor: default;
    pointer-events: none;}

    /* TELEFON I EMAIL */

.nav-two{
    display:flex;
    margin-left:auto;
    gap:50px;
    list-style: none;}
    
.nav-link {
    font-family: "Roboto";
    font-style: normal;
    color: var(--header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.nav-link:hover,
.nav-link:focus {
    color: #2196F3;}

.nav-link-contact {
    font-family: "Roboto";
    font-style: normal;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.nav-link-contact:hover,
.nav-link-contact:focus {
    color: #2196F3;}

.icon-header{
    fill:#757575;
    margin-right: 10px;}

.nav-link-contact:hover svg,
.nav-link-contact:focus svg{
    fill:#2196F3;    }

    /* main */

.backgraund{
    background: var(--background-color);
    background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
            url("../images/background.jpg");
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 auto;
    max-width: 1600px;
    height: 600px;}

.main-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top:200px;
    width: 100%;}

.main.container button{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.main-container button:hover,
.main-container button:focus {
    background-color: #f5f4fa;
    box-shadow: 0px 3px 1px #2196f31a, 
                0px 1px 2px #2196f314,
                0px 2px 2px #2196f31f;
    color: var(--header-color);}

.main-heading {
    color: var(--adress-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin:0 auto;}

.button {
    color: var(--adress-color);
    font-size: 16px;
    background: var(--focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    width:200px;
    height: 50px;
    margin-top: 40px;}

.modal {
    z-index: 1;
    transition-property: visibility, opacity, transform;
    transition-duration: 2s;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(720deg) skew(0deg, 0deg);
    opacity: 1;
    visibility: visible;
    display: block;}

    /* lorem ipsum */

.background-icon{
    display: flex;
    height: 120px;
    width:270px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--background-secondary);}

.icon-lorem{
    margin-left: 102.34px;
    margin-right:102.34px ;
    margin-top: 25px;}

.top-section{
    display: flex;
    justify-content: center;
    gap:30px;}
 
.top-list-item{
    display:inline-block;}

.top-heading {
    color: var(--header-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    box-sizing:content-box;
    width: 270px;
    height: 16px; }

.top-text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    width: 270px;
    height: 75px;}
    
/* czym się zajmujemy */

.section--no_bottom{
    padding-bottom: 94px;}

.middle-heading {
    color: var(--header-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;}
    
.middle-image{
    display: inline-block;
    width: 370px;
    height: 294px;
    position: relative;}

.middle-image1 {
    display: flex;
    justify-content: center;
    gap:30px;}

.backgraund-p{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 27px 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);}

/* Nasz zespół */

.bottom-section {
    background-color:var(--background-secondary);}

.bottom-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding-bottom: 50px;}

.logo-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;}

.logo-a{
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.logo-a:hover,
.logo-a:focus{
    border-color: var(--focus-color);}

.logo-a:hover .logo-svg,
.logo-a:focus .logo-svg {
    fill: var(--focus-color);}

.logo-li:not(:last-child){
    margin-right: 30px;}

.logo-svg{
    fill: #afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.class-list{
    display: flex;
    justify-content: center;
    gap:30px;}

.list-person-container:not(.bottom-heading) { 
    display:inline-block;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);}

.list-person {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding-top: 25px;}

.list-function {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    grid-gap: 10px;
    padding-bottom:30px;
    list-style: none;}

.social-links a {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-links a:hover,
.social-links a:focus {
    fill: var(--adress-color);
    background-color: var(--focus-color);}

.logo-icon{
    text-decoration: none;}

    /* footer */

footer {
    background: var(--background-color);
    padding-bottom: 60px;
    padding-top:60px;}

.logo-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    text-decoration: none;}

.address-styles {
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    font-style: normal;
    padding-top:20px;
    max-width: 300px;}

.footer-nav {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-top:10px;
    display:flex;
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.address-footer{
    list-style:none;}

.footer-nav:hover,
.footer-nav:focus {
    color: var(--focus-color);}

    /* DOŁĄCZ DO NAS */

.footer-join-us {
    margin-left: 70px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--adress-color);}

.footer-social-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top:20px;}

.footer-social-links a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--adress-color);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;}

.footer-social-links a,
.footer-social-links li {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--adress-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer-social-links a:hover,
.footer-social-links a:focus 
.footer-social-links svg {
    fill: var(--adress-color);  
}

.footer-social-links li:hover,
.footer-social-links li:focus-within {
    background-color: var(--focus-color);}

.div-footer{
    display: flex;
    align-items: baseline;}

.div-footer-2{
    display: flex;}

/* ----------------------------------------------------------------------Portfolio----------------------------------------------------------------------------- */
button {
    border-radius: 4px;
    background: var(--background-secondary);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;}

.button-portfolio { 
    display: flex;
    justify-content: center;
    gap: 8px;
}

.li-button {
    display: flex;
    width: 131px;
    height: 38px;}
    
.button-nav {
    color: var(--header-color);
    font-size: 16px;
    background: var(--background-secondary);
    border-radius: 4px;
    cursor: pointer;
    width:100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.button-nav:hover,
.button-nav:focus {
    background-color:var(--focus-color);
    color:var(--adress-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}

/* Obrazki */

.section--special_top {
    padding-top: 50px;}

.content-list{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:30px;}

.list-description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
    border-right:1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding:20px 24px 0;}

.list-example {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding:0 24px 20px;
    line-height: 1.875;
    padding-top: 4px;}

.portfolio-figure{
    position:relative;
    overflow:hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.portfolio-animation{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%; 
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: var(--adress-color);
    padding: 49px 45px 49px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.portfolio-animation p{
    color: var(--adress-color);
}
.portfolio-figure:hover .portfolio-animation{
    transform:translateY(0);}

.portfolio-images{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.portfolio-images:hover,
.portfolio-images:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;}


/* -------------OKNO MODALNE--------------- */

.backdrop{
    position:fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;}

.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:528px;
    height:581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;}

.close-btn{
    position:absolute;
    top:8px;
    right:8px;
    width:30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor:pointer;}

.is-hidden{
    opacity:0;
    visibility: hidden;
    pointer-events: none;}

.is-hidden .modal{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)} 