@media screen and (max-width:767px){
.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.contact__toggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover,
    &:focus {
        fill: var(--focus-color);}
}

.contact.is-open {
    transform: translateX(0);
}

.contact .contact__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgb(0, 0, 0);
}

// agencja portfolio kontakt

.contact__menu {
    margin: 0;
    list-style: none;
}

.contact__nav {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: var(--header-color);

    &:hover,
    &:focus {
        color: #2196F3;}
}

.contact__mobile {
    list-style: none;
    position: absolute;
        top:70%;
        
}

.contact__contact {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: var(--text-color);

    &:hover,
    &:focus {
        color: var(--focus-color)
    }
}

.contact__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:90%;
    width: 90%;}

.contact__text {
    text-decoration: none;
    color: var(--focus-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.contact__container {
    height: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.contact__span {
    color: var(--text-color)
}}

@media screen and (min-width:767px){
    .contact {
        display:none;
        &__toggle{
            display: none;
        }
    }
}