.team {
    background-color: var(--background-secondary);
    &__title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--header-color);
            padding-bottom: 50px;
        }
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__person:not(.team__title) {
        display: inline-block;
        background: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--header-color);
        padding-top: 25px;
    }
    &__function {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
    }
    &__social {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        grid-gap: 10px;
        padding-bottom: 30px;
        list-style: none;
        & a {
                display: flex;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                fill: #afb1b8;
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover,
                &:focus {
                    fill: var(--adress-color);
                    background-color: var(--focus-color);
                }
            }
    }

}