.background {
    background: var(--background-color);
        background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
            url("../images/background.jpg");
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    margin:0 auto;
    max-width: 1600px;
    height: 600px;

    &__section {
        height: 600px;
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        width: 100%;

        & button {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover,
                &:focus {
                    background-color: #f5f4fa;
                    box-shadow: 0px 3px 1px #2196f31a,
                        0px 1px 2px #2196f314,
                        0px 2px 2px #2196f31f;
                    color: var(--header-color);
                }
            }
    }
    &__title {
        color: var(--adress-color);
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
    }
    &__button {
        color: var(--adress-color);
        font-size: 16px;
        background: var(--focus-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        margin-top: 40px;
    }
}
