.customers {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding-bottom: 50px;

    &__unit :not(:last-child) {
        margin-right: 30px;
    }

    &__icon {
        text-decoration: none;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    &__svg {
        fill: #afb1b8;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__border {
        border: 1px solid #afb1b8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            border-color: var(--focus-color);
            & .customers__svg {fill: var(--focus-color);
                }
        }
    }
}