.background {
    background: var(--background-color);
    background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
        url("../images/background.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap:30px;
    padding: 118px 0;
    min-width:320px;
    max-width: 1600px;
    background-position: center;

    &__section {
        height: 400px;
        display: flex;
        flex-direction: column;
        padding-top: 118px;
        width: 100%;
        
        & button {
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover,
                &:focus {
                    background-color: #f5f4fa;
                    box-shadow: 0px 3px 1px #2196f31a,
                        0px 1px 2px #2196f314,
                        0px 2px 2px #2196f31f;
                    color: var(--header-color);
                }
            }
    }
    &__title {
        display: inline-block;
        color: var(--adress-color);
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        max-width: 365px;
    }
    &__button {
        color: var(--adress-color);
        font-size: 16px;
        background: var(--focus-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        margin-top: 40px;
    }}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .background{
        background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                url("../images/background@2x.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-size: cover;
        }
        }
    