:root {
    --focus-color: #2196f3;
    --header-color: #212121;
    --adress-color: #ffffff;
    --text-color: #757575;
    --background-color: #2f303a;
    --background-secondary: #f5f4fa;
    --background-portfolio: #e5e5e5;
    --footericon: rgba(255, 255, 255, 0.1);
    --transition: cubic-bezier(0.4, 0, 0.2, 1)
}